<div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
  </mat-form-field>
</div>

<div class="example-container mat-elevation-z8">

  <mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.nombre}} </mat-cell>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="anno">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Año </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.anno}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="estado">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.estado}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="linea">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Linea </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.linea}} </mat-cell>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="objetivoGral">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Obj Gral </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.objetivoGral}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="objetivoEspecificos">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Obj Esp </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.objetivoEspecificos}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="presupuesto">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Presupuesto</mat-header-cell>
      <mat-cell *matCellDef="let row">$ {{row.presupuesto}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="primerAnno">
      <mat-header-cell *matHeaderCellDef mat-sort-header>1 Año</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.primerAnno}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="duracion">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Duración</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.duracion}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="region">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Zona Inf</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.region}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="button">
        <mat-header-cell *matHeaderCellDef>botones</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-button color="primary" (click)="detalles(row.id)">
            VER
          </button>
        </mat-cell>
      </ng-container>

    <ng-container matColumnDef="productos">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Productos</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.productos}} </mat-cell>
    </ng-container>



    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> -->
</div>
