.example-form {
  min-width: 350px;
  width: 100%;
}

.example-full-width {
  width: 99%;
}

.middle-width {
  width: 49%;
}

.demo-chip-list {
  width: 100%;
}

.example-button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
